.tm-order-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: $global-medium-margin;
    }
    @include media-mob($l) {
      &:not(:last-child) {
        margin-bottom: $global-large-margin;
      }
    }
  }
  &__table {
    tr {
      @include media-desk($hm) {
        display: flex;
        flex-direction: column;
        th {
          display: none;
        }
      }
      th {
        font-family: $base-heading-font-family;
        font-weight: $base-heading-font-weight;
        text-transform: $base-heading-text-transform;
        font-size: 1rem;
        color: $global-muted-color;
        @include media-mob($m) {
          font-size: $global-font-size;
          font-weight: $base-heading-font-weight;
        }
      }
      td {
        font-size: 16px;
        font-weight: $base-strong-font-weight;
        color: $global-emphasis-color;
        &::before {
          content: attr(data-label);
          display: block;
					width: 50%;
					float: left;
          font-family: $base-heading-font-family;
          font-weight: $base-heading-font-weight;
          text-transform: $base-heading-text-transform;
          color: $global-muted-color;
					text-align: left;
					font-size: 16px;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        > span {
          display: inline-block;
          width: 50%;
          line-height: 1.2;
        }
        @include media-mob($hm) {
          font-size: 15px;
          > span {
            width: inherit;
          }
          &:last-child {
            text-align: right;
          }
          &::before {
            display: none;
          }
        }
        @include media-mob($m) {
          font-size: $global-small-font-size;
        }
      }
    }
  }
  &__thumbs {
    padding-bottom: $global-small-gutter;
    margin-bottom: -$global-small-gutter;
    margin-right: -$global-small-gutter;
    li {
      height: 120px;
      img {
        height: 100%;
        width: auto;
      }
      &:last-child {
        padding-right: $global-small-gutter;
      }
    }
  }
}