/node_modules
/public/hot
/public/js
/public/css
/public/img
/public/images
/public/storage
*vendor/
/storage/*.key
/vendor

_ide_helper.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

robots.txt