nav
{
    position: fixed;
    top: 0;
    width:100%;
    padding:20px;

    background-color:$green;
    color:white;
    text-align:center;

    border-bottom:2px solid white;

    h1
    {
        margin-bottom:0px;
    }

    p
    {
        text-indent:0px;
        text-align:center;
        margin-bottom:0px;
        a
        {
            display:inline-block;
            padding:10px 20px;
            color:white;
            border-radius:5px;
        }
        a:hover
        {
            color:white;
            background-color: orange;
        }
        .selected
        {
            background-color: orangered;
        }
    }
}
