// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&amp;subset=cyrillic');
@import url('https://kit.fontawesome.com/d36168dd1e.js');

// bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'styles';
