// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html {
  position: relative;
  min-height: 100%;
}

@media (max-width: 990px) {
  footer {
    position: static !important;
  }

  main {
    min-height: calc(100vh - 153px);
  }
}

@media (max-width: 560px) {

  main {
    min-height: calc(100vh - 187px);
  }
}

.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 20px 0;

  th, td {
    vertical-align: middle;
  }
}

.py-6 {
  padding-bottom: 5rem !important;
  padding-top: 3rem !important;
}

@import "product/detail";