// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html {
    position: relative;
    min-height: 100%;
}

@media (max-width: 990px) {
    footer {
        position: static !important;
    }

    main
    {
        min-height: calc(100vh - 153px);
    }
}

@media (max-width: 560px) {

    main
    {
        min-height: calc(100vh - 187px);
    }
}

.circle-doc {
    position: relative;
    min-height: 50vh;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
