// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table-buttons {
    display: contents;
}
