// Styles
html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.blog-footer {
    text-align: center;
}
a:hover {
    text-decoration: none;
}

ul.keywords {
    padding: 20px 0;
    line-height: 200%;
    li {
        display: inline;
        list-style: none;
        margin-right: 5px;
        a {
            white-space: nowrap;
            border: 1px solid grey;
            padding: 5px;
            color: gray;
            text-transform: uppercase;
            font-size: 0.76em;
            &:hover {
                border: 1px solid red;
                background-color: indianred;
                color: white;
            }
        }
    }
}

.keywords-group {
    ul.keywords {
        padding: 5px;
        line-height: 200%;
        li {
            margin-right: 0;

            a {
                padding: 5px;
            }
        }
    }
}
