@media (max-width: 600px) {
    header {
        .navbar-toggler {
            display: flex;
        }
    }
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        background: #fff;
        &.show {
            display: block;
            z-index: 1;
        }
        .close {
            display: block;
        }
        &.collapse:not(.show) {
            display: none;
        }
    }
    .content {
        .content-block {
            margin-left: 15px;
        }
    }
}
