html {
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    line-height: 1.6em;
    color: #000000;
}
form, div {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 1.4em;
}
a {  }

h1, h1 a, h1, h1 a, h1, h1 a { text-decoration: none; }
h1, h1 a { margin-bottom: 24px; }
h2, h2 a { margin-bottom: 20px; }
h3, h3 a { margin-bottom: 18px; }

.clearfix:after { content: "."; clear: both; display: block; height: 0; font-size: 0; visibility: hidden; }
.clearfix { display:inline-block; }
* html .clearfix {height:1%}
.clearfix {display:block}

.page-wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    padding-top: 57.6px;
}
.page-in {
    max-width: 1170px;
    margin: auto;
}
.page-top {
    height: 57.6px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 101;
}
.page-brand {
    padding-left: .7rem;
    padding-right: .7rem;
    color: #ffffff;
}
.page-brand i {
    color: #ffffff;
}
.page-header {
    padding: 24px 0;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.page-logo {
    font-size: 34px;
    margin-bottom: 20px;
}
.page-logo a {
    color: #000000;
    text-decoration: none;
}
.page-label {
    color: #999999;
}
.page-content {
    padding: 0 15px 30px 15px;
}
.page-content .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.page-content .container-fluid .row {
    margin-right: 0;
    margin-left: 0;
}
.page-content .movie-list .row {
    margin-right: -15px;
    margin-left: -15px;
}
.premier-slider {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.premier-slider .item {
    width: 100%;
}
.premier-slider .image {
    height: 400px;
    width: 66%;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.premier-slider .desc {
    height: 400px;
    width: 34%;
    float: right;
    display: table;
}
.premier-slider .desc-in {
    display: table-cell;
    color: white;
    vertical-align: bottom;
    padding: 20px 40px;
    width: 100%;
    position: relative;
}
.premier-slider .name {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 15px;
}
.premier-slider .date {
    margin-bottom: 12px;
    color: rgba(255,255,255,.5)
}
.i-iblock .i-title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 12px;
}
.age-limit {
    width: 60px;
    height: 60px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.age-limit:after {
    content: "+";
}
.premier-slider .i-title {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    z-index: 100;
}
.premier-slider .age-limit {
}

.filter-movie {
    padding: 20px 0 12px 0;
    border-bottom: 1px solid #cccccc;
    background-color: #ccc;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.movie-list {
}
.movie-list .image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30% 0;
    display: block;
}
.movie-list .card-title {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cinemas-list {
    padding: 0;
}
.cinemas-list .row {
    margin: 0 0 20px 0;
    border: 1px solid #cccccc;
    padding: 10px;
}
.cinemas-list .image a {
    display: block;
    padding: 30% 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cinemas-list .name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.cinemas-list .text {
    margin-bottom: 8px;
}
.movie-detail {
}
.movie-detail .image {
}
.movie-detail .image i {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 30% 0;
    display: block;
}
.properties {
    margin-bottom: 20px;
}
.properties li {
    margin-bottom: 6px;
}
.properties span {
    display: block;
}
.properties .p-name {
    font-weight: 700;
}
.properties .p-value {
}
.movie-detail .image {
    margin-bottom: 20px;
}
.movie-detail .text {
    margin-bottom: 20px;
}
.movie-detail .buttons {
    margin-bottom: 20px;
}
.map-element {
    height: 300px;
    margin-bottom: 24px;
}
.page-buttons a {
    color: white;
}
.page-footer {
    padding: 25px 0;
}
.page-copy {
    padding: 10px 0;
    background-color: #4c5866;
    text-align: center;
}
.i-req {
    color: red;
}
.cinema-item {
}
.movie-showing-list > .row {
    border-bottom: 1px solid #cccccc;
}
.cinema-item > .row {
    margin-left: 0;
    margin-right: 0;
}
.cinema-item .image a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 30% 0;
}
.cinema-item .name {
    font-weight: 700;
    margin-bottom: 5px;
}

.order-ticket {
    margin: 20px 0;
}
.order-ticket .place {
    border: 1px solid #f2f2f2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
}
.place span {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    margin: auto;
}
.place span i {
    position: absolute;
    height: 20px;
    width: 40px;
    font-style: normal;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
}
.place-disabled span {
    background-color: #cccccc;
}
.place-selected span {
    color: #ffffff;
}
.place-disabled span {
    background-color: #cccccc;
}
.place-type-vip span {
    border-color: #8fd19e;
}
.place-type-vip.place-selected span {
    background-color: #8fd19e;
}
.place-type-standard span {
    border-color:  #7abaff;
}
.place-type-standard.place-selected span {
    background-color: #7abaff;
}
.place-type-economy span {
    border-color: #f1b0b7;
}
.place-type-economy.place-selected span {
    background-color: #f1b0b7;
}
.loading-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(255,255,255,0.5);
}
.loading-layer td {
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.places-selected {

}
.places-selected ul {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
.places-selected li {
    float: left;
    width: 31.33%;
    margin: 0 2% 12px 0;
    padding: 0;
    list-style: none;
}
.places-selected .ticket-wrapper {
    border: 1px solid #212529;
    font-size: 14px;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
    overflow: hidden;
}
.places-selected .ticket-delete {
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}
.places-selected .ticket-place {
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #212529;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    width: 100%;
    padding: 0 6px;
    white-space: nowrap;
}
.places-selected .ticket-price {
    color: #212529;
    background-color: #ffc107;
    font-weight: 700;
    margin-left: 6px;
    line-height: 24px;
    padding: 0 6px;
    float: left;
    border-radius: 5px;
}
.places-selected .ticket-status {
    padding: 0 6px;
    line-height: 24px;
    font-size: 12px;
    color: green;
    clear: both;
    white-space: nowrap;
}
.places-selected .ticket-wrapper.status-disabled {
    border: 1px solid #999999;
}
.places-selected .status-disabled .ticket-place {
    background-color: #999999;
}
.places-selected .status-disabled .ticket-status {
    color: red;
}
.message-status {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    height: 35px;
}
.message-status div {
    position: relative;
    margin-top: -60px;
    opacity: 0;
    transition: all 0.4s ease-out;
    padding: 6px 12px;
    display: inline-block;
}
.message-status.showed div {
    margin-top: 0;
    opacity: 1;
}
.empty-list {
    background-color: #f1b0b7;
    padding: 80px 40px;
    text-align: center;
    color: #1d2124;
}
