body {
    background: #f5f7fa;
    font-family: "", sans-serif;
}

a,
.home-blog-post .entry-date .date,
.top-imdb-item:hover>.title a,
.module .content .items .item .data h3 a:hover,
.head-main-nav ul.main-header li:hover>a,
.login_box .box a.register {
    color: #dd3333;
}

.nav_items_module a.btn:hover,
.pagination span.current,
.w_item_b a:hover>.data span.wextra b i,
.comment-respond h3:before,
footer.main .fbox .fmenu ul li a:hover {
    color: #dd3333;
}

header.responsive .nav a.active:before,
header.responsive .search a.active:before,
.dtuser a.clicklogin:hover,
.menuresp .menu ul.resp li a:hover,
.menuresp .menu ul.resp li ul.sub-menu li a:hover {
    color: #dd3333;
}

.sl-wrapper a:before,
table.account_links tbody td a:hover,
.dt_mainmeta nav.genres ul li a:hover {
    color: #dd3333;
}

.dt_mainmeta nav.genres ul li.current-cat a:before {
    color: #dd3333;
}

.head-main-nav ul.main-header li ul.sub-menu li a:hover,
form.form-resp-ab button[type=submit]:hover>span,
.sidebar aside.widget ul li a:hover {
    color: #dd3333;
}

header.top_imdb h1.top-imdb-h1 span,
article.post .information .meta span.autor,
.w_item_c a:hover>.rating i,
span.comment-author-link,
.pagination a:hover {
    color: #dd3333;
}

.letter_home ul.glossary li a:hover,
.letter_home ul.glossary li a.active,
.user_control a.in-list {
    color: #dd3333;
}

.linktabs ul li a.selected,
ul.smenu li a.selected,
a.liked,
.module .content header span a.see-all,
.page_user nav.user ul li a.selected,
.dt_mainmeta nav.releases ul li a:hover {
    background: #dd3333;
}

.user_edit_control ul li a.selected,
form.update_profile fieldset input[type=submit],
.page_user .content .paged a.load_more:hover,
#edit_link .box .form_edit fieldset input[type="submit"] {
    background: #dd3333;
}

#dt_contenedor {
    color: #f5f7fa;
}

.plyr input[type=range]::-ms-fill-lower {
    background: #dd3333;
}

.menuresp .menu .user a.ctgs,
.menuresp .menu .user .logout a:hover {
    background: #dd3333;
}

.plyr input[type=range]:active::-webkit-slider-thumb {
    background: #dd3333;
}

.plyr input[type=range]:active::-moz-range-thumb {
    background: #dd3333;
}

.plyr input[type=range]:active::-ms-thumb {
    background: #dd3333;
}

.tagcloud a:hover,
ul.abc li a:hover,
ul.abc li a.select {
    background: #dd3333;
}

.contact .wrapper fieldset input[type=text]:focus,
.contact .wrapper fieldset textarea:focus,
header.main .hbox .dt_user ul li ul li:hover>a,
.login_box .box a.register {
    border-color: #dd3333;
}

.module .content header h1 {
    border-color: #dd3333;
}

.module .content header h2 {
    border-color: #dd3333;
}

.top-imdb-list h3 {
    border-color: #dd3333;
}

.user_edit_control ul li a.selected:before {
    border-top-color: #dd3333;
}

header.main .hbox .search form button[type=submit]:hover,
.loading,
#seasons .se-c .se-a ul.episodios li .episodiotitle a:hover,
.sgeneros a:hover,
.page_user nav.user ul li a:hover {
    color: #dd3333;
}

a.see_all {
    border-color: #dd3333;
}

a.see_all,
p.form-submit input[type=submit]:hover,
.report-video-form fieldset input[type=submit],
a.mtoc,
.contact .wrapper fieldset input[type=submit],
span.item_type,
a.main {
    background: #dd3333;
}

.linktabs ul li a.selected,
ul.smenu li a.selected,
a.liked,
.module .content header span a.see-all,
.page_user nav.user ul li a.selected,
.dt_mainmeta nav.releases ul li a:hover {
    background: #dd3333;
}

.top-imdb-list h3 {
    border-color: #dd3333;
}