@import url(https://fonts.googleapis.com/css?family=Roboto);body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
button,
label {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: #80bb27;
  color: white;
  text-align: center;
  border-bottom: 2px solid white;
}

nav h1 {
  margin-bottom: 0px;
}

nav p {
  text-indent: 0px;
  text-align: center;
  margin-bottom: 0px;
}

nav p a {
  color: white;
}

nav p a:hover {
  color: white;
  -webkit-text-decoration: underline solid orange;
          text-decoration: underline solid orange;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #80bb27;
  border-top: 2px solid white;
}

.center {
  text-align: center;
}

main {
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}

main .card {
  display: inline-block;
  max-width: 300px;
  margin: auto;
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
}

main .card img {
  width: 150px;
  margin-bottom: 20px;
}

main .card .description {
  max-width: 300px;
  margin: auto;
}

main .card .description p {
  text-align: left;
}

main .card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

