.tm-background {
  &-lines {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-image: url('../img/svg/section-background-image-lines.svg');
      background-position-x: 50%;
      opacity: .7;
    }
  }
}