.tm-iconnav {
    > li {
        min-width: 90px;
        // border-left: $navbar-border;
        // margin-right: -1px;
        // &:last-child {
        //     border-right: $navbar-border;
        // }
        @include media-mob($hxl){
            min-width: 100px;
        }
        > a, > span {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            // font-size: .8rem;
            // color: $inverse-global-muted-color;
            @include media-mob($hxl){
                font-size: $global-small-font-size;
            }
            > .tm-iconnav__title {
                position: absolute;
                bottom: .9rem;
                left: 50%;
                line-height: 1;
                font-size: .8rem;
                transform: translateX(-50%);
            }
            .uk-badge {
                position: absolute;
                font-size: .65rem;
                min-width: 17px;
                height: 17px;
                top: 5px;
                left: calc(50% + .4rem);
                font-weight: normal;
                z-index: 1;
                @include media-mob($xl){
                    font-size: .6rem;
                    min-width: 16px;
                    height: 16px;
                    top: 1rem;
                }
            }
        }
    }

    .tm-navbar-bottom & {
        > li {
            min-width: inherit;
            flex-grow: 1;
            a {
                min-height: 60px !important;
                &::before {
                    display: none;
                }
                font-size: .7rem;
                .uk-badge {
                    top: 3px;
                    left: 62%;
                    font-size: .6rem;
                    min-width: 16px;
                    height: 16px;
                }
                @include media-mob($se){
                    font-size: .8rem;
                    .uk-badge {
                        font-size: .7rem;
                        min-width: 19px;
                        height: 19px;
                    }
                }
                @include media-mob($s){
                    font-size: $global-small-font-size;
                    .uk-badge {
                        top: 5px;
                        left: 60%;
                    }
                }
                @include media-mob($m){
                    .uk-badge {
                        left: 56%;
                    }
                }
            }
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}
.tm-navbar-bottom {
    border-bottom: none;
    border-top: $navbar-border;
    z-index: 999;
}