.tm-navbar {
    position: relative;
    z-index: 1;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $global-secondary-background;
        @include media-mob($m) {
            // background: rgba(darken($global-secondary-background, 10%), .65);
            // backdrop-filter: saturate(180%) blur(10px);
            box-shadow: $global-medium-box-shadow;
        }
    }
    &-icon {
        li {
            &::before {
                left: 8px;
                right: 8px;
            }
            a {
                padding: 0 $global-small-margin !important;
                .uk-badge {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    min-width: 13px;
                    height: 13px;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 1.3;
                    padding: 0 3px;
                    margin-left: 2px;
                    z-index: 1;
                }
            }
        }
    }
}
.tm-navbar-local {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($navbar-local-border-color, .2);
        z-index: 1;
    }
    &.uk-active {
        &::after {
            background-color: rgba($navbar-local-border-color, .1);
        }
    }
    .uk-navbar-container {
        background: rgba(#fff, .9);
        backdrop-filter: saturate(180%) blur(10px);
    }
    .uk-navbar, .uk-navbar-item {
        max-height: 48px;
    }
    &__heading {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    @include media-mob($se) {
        &__heading {
            font-size: 1.25rem;
        }
    }
    @include media-mob($xs) {
        &__heading {
            font-size: 1.5rem;
        }
    }
    @include media-mob($m) {
        .uk-navbar, .uk-navbar-item {
            max-height: 60px;
        }
    }
    @include media-mob($l) {
        .uk-navbar, .uk-navbar-item {
            max-height: 70px;
        }
    }
    @include media-mob($xl) {
        .uk-navbar, .uk-navbar-item {
            max-height: 80px;
        }
    }
}