.tm-socials {
    font-size: $global-small-font-size;
    font-weight: 300;
    > a {
        &:not(:last-child) {
            margin-right: $global-small-margin;
        }
    }
    &.tm-socials-large {
        > a {
            width: 45px;
            height: 45px;
        }
    }
}
.tm-socials.tm-socials-color {
    > a, > button {
        border: none;
        color: $global-inverse-color;
        fill: $global-inverse-color;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        &:not(:last-child) {
            margin-right: $global-small-margin;
        }
        &[data-uk-icon="google"] {
            background: #dd4b39;
        }
        &[data-uk-icon="facebook"] {
            background: #3B5998;
        }
        &[data-uk-icon="vk"] {
            background: #4a76a8;
        }
        &[data-uk-icon="yandex"] {
            background: #ffdb4d;
        }
        &:hover, &:focus {
            &[data-uk-icon="google"] {
                background: darken(#dd4b39, 5%);
            }
            &[data-uk-icon="facebook"] {
                background: darken(#3B5998, 5%);
            }
            &[data-uk-icon="vk"] {
                background: darken(#4a76a8, 5%);
            }
            &[data-uk-icon="yandex"] {
                background: darken(#ffdb4d, 7%);
            }
        }
    }
    .uk-light & {
        > a, > button {
            background: $global-inverse-color;
            &:not(:last-child) {
                margin-right: $global-small-margin;
            }
            &[data-uk-icon="google"] {
                color: #dd4b39;
                fill: #dd4b39;
            }
            &[data-uk-icon="facebook"] {
                color: #3B5998;
                fill: #3B5998;
            }
            &[data-uk-icon="vk"] {
                color: #4a76a8;
                fill: #4a76a8;
            }
            &[data-uk-icon="yandex"] {
                color: #ebc846;
                fill: #ebc846;
            }
            &:hover, &:focus {
                background: darken($inverse-button-primary-background, 5%);
                &[data-uk-icon="google"] {
                    color: darken(#dd4b39, 10%);
                    fill: darken(#dd4b39, 10%);
                }
                &[data-uk-icon="facebook"] {
                    color: darken(#3B5998, 10%);
                    fill: darken(#3B5998, 10%);
                }
                &[data-uk-icon="vk"] {
                    color: darken(#4a76a8, 10%);
                    fill: darken(#4a76a8, 10%);
                }
                &[data-uk-icon="yandex"] {
                    color: darken(#ebc846, 10%);
                    fill: darken(#ebc846, 10%);
                }
            }
        }
    }
}
