/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/templates
/public/vendors
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/resources/templates
/public/public/vendors
/public/.gitignore
