@charset "UTF-8";
@font-face { font-family: 'Roboto-Light'; src: url("../fonts/Roboto-Light.eot"); src: local("../fonts/Roboto-Light"), local("../fonts/Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Roboto-Medium'; src: url("../fonts/Roboto-Medium.eot"); src: local("../fonts/Roboto-Medium"), local("../fonts/Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Roboto-Regular'; src: url("../fonts/Roboto-Regular.eot"); src: local("../fonts/Roboto-Regular"), local("../fonts/Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Rubik-Light'; src: url("../fonts/Rubik-Light.eot"); src: local("../fonts/Rubik-Light"), local("../fonts/Rubik-Light"), url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Rubik-Regular'; src: url("../fonts/Rubik-Regular.eot"); src: local("../fonts/Rubik-Regular"), local("../fonts/Rubik-Regular"), url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Rubik-Medium'; src: url("../fonts/Rubik-Medium.eot"); src: local("../fonts/Rubik-Medium"), local("../fonts/Rubik-Medium"), url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype"); font-weight: 400; font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.blue { color: #64B5F6; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* Slider */
.slick-loading .slick-list { background: #fff url("../i/images/giphy.gif") center center no-repeat; }

/* Icons */
@font-face { font-family: "slick"; src: url("../fonts/book.eot"); src: url("../fonts/book.eot?#iefix") format("embedded-opentype"), url("../fonts/book.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; -ms-transform: translate(0, -50%); transform: translate(0, -50%); padding: 0; border: none; outline: none; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }

[dir="rtl"] .slick-prev { left: auto; right: -25px; }

.slick-prev:before { content: "←"; }

[dir="rtl"] .slick-prev:before { content: "→"; }

.slick-next { right: -25px; }

[dir="rtl"] .slick-next { left: -25px; right: auto; }

.slick-next:before { content: "→"; }

[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
.slick-dotted.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -25px; list-style: none; display: block; text-align: center; padding: 0; margin: 0; width: 100%; }

.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }

.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0px; font-size: 0px; color: transparent; padding: 5px; cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }

.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }

.header { max-width: 270px; width: 100%; padding: 15px 30px; background: #f6f9fc; box-sizing: border-box; display: inline-block; transition: 0.3s ease-in-out; }

.header:before { content: ''; position: absolute; left: 270px; height: 100%; width: 0.5px; top: 0; background: #D6D6D6; }

@media screen and (max-width: 768px) { .header { position: fixed; left: -270px; top: 0; z-index: 10; display: none; height: 100vh; overflow-y: auto; overflow-x: hidden; } }

.logo { cursor: pointer; width: 70px; height: 70px; margin: 0 auto 40px; display: block; }

.navigate__title { color: #C4C4C4; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; font-size: 22px; margin-bottom: 10px; }

.listMenu { margin-bottom: 40px; }

.listMenu:nth-last-child(1) { margin-bottom: 0; }

.listMenu__item { height: 50px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between; position: relative; cursor: pointer; }

.listMenu__item:before { content: ''; position: absolute; left: -15px; top: 50%; width: calc(100% + 30px + 15px); border-top-left-radius: 50px; border-bottom-left-radius: 50px; background: #90CAF9; height: 30px; -ms-transform: translateY(-50%); transform: translateY(-50%); opacity: 0; transition: 0.3s ease-in-out; }

.listMenu__item:hover:before { opacity: 1; }

.listMenu__item:hover .listMenu__link { color: #fff; }

.listMenu__link { text-decoration: none; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; color: #1A1A1A; font-size: 14px; line-height: 20px; position: relative; z-index: 2; transition: 0.3s ease-in-out; }

.listMenu__icon { width: 20px; height: 20px; position: relative; z-index: 2; }

.listMenu__icon.count { position: relative; font-family: 'Rubik-Medium'; font-weight: 500; font-style: normal; font-size: 12px; text-align: center; line-height: 19px; width: 18px; height: 18px; }

.listMenu__icon.count:before { content: ''; border-radius: 50%; border: 2px solid; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px); left: 50%; top: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.listMenu__icon.ic-alert { font-size: 20px; color: #F7AAAA; }

.title { color: #1A1A1A; font-size: 36px; line-height: 43px; font-family: 'Rubik-Regular'; font-weight: 400; font-style: normal; margin-bottom: 40px; }

.bookSlider { position: relative; margin-bottom: 45px; }

.bookSlider__item { max-width: 180px; width: 100%; box-sizing: border-box; text-decoration: none; display: block; outline: none; margin-right: 20px; }

.bookSlider__item:last-child { margin-right: 0; }

@media screen and (max-width: 480px) { .bookSlider__item { display: block !important; margin: 0 auto !important; } }

.bookSlider__wrapImg { border-radius: 5px; overflow: hidden; height: 250px; margin-bottom: 20px; }

.bookSlider__img { width: 100%; }

.bookSlider__category { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-bottom: 10px; }

.bookSlider__name { color: #1A1A1A; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; font-size: 14px; line-height: 20px; }

.bookSlider .slick-next { width: 35px; height: 130px; background: #fff; border-radius: 8px; right: 0; z-index: 1; top: calc(50% - 30px); transition: 0.3s ease-in-out; }

.bookSlider .slick-next:before { content: ''; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background: url("../i/icons/arrow.svg") no-repeat; height: 23px; width: 10px; }

.bookSlider .slick-next:hover { box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.35); }

.bookSlider .slick-prev { width: 35px; height: 130px; background: #fff; border-radius: 8px; left: 0; z-index: 1; top: calc(50% - 30px); transition: 0.3s ease-in-out; }

.bookSlider .slick-prev:before { content: ''; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%) rotate(180deg); transform: translate(-50%, -50%) rotate(180deg); background: url("../i/icons/arrow.svg") no-repeat; height: 23px; width: 10px; }

.bookSlider .slick-prev:hover { box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.35); }

.blockCategoryBook { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; justify-content: space-between; }

.blockCategoryBook__item { max-width: 370px; width: 100%; background: linear-gradient(90deg, #ABDA5E 0%, #80CAF4 100%); border-radius: 8px; margin-right: 30px; min-height: 90px; padding: 20px; box-sizing: border-box; text-decoration: none; display: block; margin-bottom: 30px; position: relative; }

.blockCategoryBook__item:nth-of-type(2n) { background: linear-gradient(90deg, #86D7F9 0%, #80A0F4 100%); }

.blockCategoryBook__item:nth-of-type(3n) { background: linear-gradient(90deg, #F9A87E 0%, #BE7DF2 100%); }

.blockCategoryBook__item:nth-of-type(4n) { background: linear-gradient(90deg, #DACE5E 0%, #F88B8B 100%); }

.blockCategoryBook__item:nth-of-type(4n+4) { margin-right: 0; }

@media screen and (max-width: 1600px) { .blockCategoryBook__item { max-width: calc((100% / 3) - 30px); }
  .blockCategoryBook__item:nth-of-type(3n+3) { margin-right: 0; }
  .blockCategoryBook__item:nth-of-type(4n+4) { margin-right: 30px; } }

@media screen and (max-width: 1200px) { .blockCategoryBook__item { max-width: calc((100% / 2) - 30px); }
  .blockCategoryBook__item:nth-of-type(2n+2) { margin-right: 0px; }
  .blockCategoryBook__item:nth-of-type(3n+3) { margin-right: 30px; }
  .blockCategoryBook__item:nth-of-type(4n+4) { margin-right: 0; } }

@media screen and (max-width: 768px) { .blockCategoryBook__item { max-width: 100%; margin-right: 0; }
  .blockCategoryBook__item:nth-of-type(3n+3) { margin-right: 0; } }

.blockCategoryBook__titleCategory { font-size: 22px; line-height: 26px; color: #fff; font-family: 'Rubik-Medium'; font-weight: 500; font-style: normal; margin-bottom: 10px; }

.blockCategoryBook__countBook { font-size: 14px; line-height: 20px; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; color: #fff; }

.backgroundPopup { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); left: 0; top: 0; z-index: 9; }

.panel { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; padding: 25px 0; margin-bottom: 20px; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 768px) { .panel .search { display: none; } }

.search { position: relative; max-width: 770px; width: 100%; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.search__input { background: #fff; height: 40px; border-radius: 8px; padding-left: 80px; width: 100%; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; font-size: 14px; outline: none; border: none; }

@media screen and (max-width: 1200px) { .search__input { padding-left: 60px; } }

.search__icon { position: absolute; left: 20px; top: 50%; width: 20px; height: 20px; color: #808080; font-size: 20px; -ms-transform: translateY(-50%); transform: translateY(-50%); background: url("../i/icons/searh.svg") no-repeat; background-size: cover; }

.userOptions { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: center; align-items: center; margin-left: 60px; }

@media screen and (max-width: 1200px) { .userOptions { margin-left: 20px; } }

.userWrap { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: center; align-items: center; text-decoration: none; }

.userWrap__userName { color: #1A1A1A; font-size: 14px; line-height: 16px; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; }

.userWrap__userPhoto { width: 50px; height: 50px; margin-left: 15px; border-radius: 50%; overflow: hidden; min-width: 50px; }

.userWrap__userPhotoImg { width: 100%; height: 100%; }

.logout { border: none; background: none; font-size: 32px; margin-right: 60px; outline: none; cursor: pointer; }

@media screen and (max-width: 1200px) { .logout { margin-right: 20px; } }

.burgerMenu { width: 35px; height: 25px; background: none; border: none; outline: none; position: relative; box-sizing: border-box; min-width: 35px; margin-right: 30px; cursor: pointer; display: none; }

@media screen and (max-width: 768px) { .burgerMenu { display: block; } }

.burgerMenu__item { position: absolute; left: 0; top: 0; width: 100%; height: 2px; background: #000; border-radius: 10px; transition: 0.3s ease-in-out; }

.burgerMenu__item:nth-child(2) { top: 12px; }

.burgerMenu__item:nth-child(3) { top: 24px; }

.burgerMenu.active .burgerMenu__item:nth-child(1) { top: calc(50% - 2px); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.burgerMenu.active .burgerMenu__item:nth-child(2) { top: calc(50% - 2px); -ms-transform: rotate(45deg); transform: rotate(45deg); opacity: 0; }

.burgerMenu.active .burgerMenu__item:nth-child(3) { top: calc(50% - 2px); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.aboutBook { padding: 20px 30px; background: #FFFFFF; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; }

.aboutBook__title { font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; font-size: 22px; line-height: 32px; color: #1A1A1A; margin-bottom: 15px; }

.aboutBook__text { font-family: 'Roboto-Light'; font-weight: 300; font-style: normal; font-size: 14px; line-height: 20px; color: #000; }

.wrapImgBook { max-width: 370px; width: 100%; height: auto; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; margin-bottom: 20px; }

@media screen and (max-width: 1200px) { .wrapImgBook { max-width: 100%; } }

.wrapImgBook__img { width: 100%; }

.infoBook { padding: 20px; background: #FFFFFF; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; }

.infoBook__wrapStatus { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: center; align-items: center; margin-bottom: 25px; }

.infoBook__avatar { border-radius: 50%; width: 50px; height: 50px; margin-right: 25px; background: url("../i/images/noAvatar.jpg") no-repeat; background-size: cover; }

.infoBook__status { font-size: 14px; line-height: 20px; font-family: 'Roboto-Light'; font-weight: 300; font-style: normal; font-size: 14px; line-height: 20px; color: #808080; }

.infoBook__interactionBook { margin-left: auto; font-size: 14px; line-height: 20px; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; color: #64B5F6; text-transform: uppercase; background: none; border: none; outline: none; cursor: pointer; display: block; }

.optionBook { background: #FFFFFF; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; padding: 10px 20px; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }

.optionBook__pencil { width: 30px; height: 28px; font-size: 30px; color: #C4C4C4; border: none; outline: none; cursor: pointer; background: none; transition: 0.2s ease; padding: 0; }

.optionBook__pencil:hover { color: #64B5F6; }

.optionBook__read { width: 20px; height: 28px; font-size: 30px; color: #C4C4C4; border: none; outline: none; cursor: pointer; background: none; transition: 0.2s ease; padding: 0; background: url(../i/icons/read.svg) no-repeat; background-size: cover; }

.optionBook__read:hover { background: url(../i/icons/read-g.svg) no-repeat; background-size: cover; color: #64B5F6; }

.optionBook__selected { width: 20px; height: 28px; font-size: 30px; color: #C4C4C4; border: none; outline: none; cursor: pointer; background: none; transition: 0.2s ease; padding: 0; background: url(../i/icons/selected.svg) no-repeat; background-size: cover; }

.optionBook__selected:hover { background: url(../i/icons/selected-g.svg) no-repeat; background-size: cover; color: #64B5F6; }

.bookPage { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.bookPage .leftSide { max-width: 370px; min-width: 370px; width: 100%; box-sizing: border-box; margin-right: 30px; }

@media screen and (max-width: 1200px) { .bookPage .leftSide { min-width: auto; max-width: 100%; margin-right: 0; } }

.bookPage .rightSide { max-width: calc((100% - 370px) - 30px); }

@media screen and (max-width: 1200px) { .bookPage .rightSide { max-width: 100%; margin-top: 30px; } }

.downloadBook { padding: 20px 30px; background: #fff; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; margin-bottom: 30px; }

.downloadBook__titleAndTags { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 10px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.downloadBook__title { font-size: 22px; line-height: 26px; color: #1A1A1A; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; margin-right: 20px; }

.downloadBook__wrapTags { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.downloadBook__itemTag { background: #DEDEDE; border-radius: 8px; padding: 5px; font-size: 10px; color: #464646; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; text-transform: uppercase; margin-right: 10px; margin-bottom: 10px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.downloadBook__itemTag.notAvailable { background: #F7AAAA; color: #9E0505; }

.downloadBook__author { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-bottom: 10px; }

.downloadBook__category { font-size: 14px; line-height: 20px; color: #1A1A1A; margin-bottom: 20px; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; }

.downloadBook__category span { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; }

.downloadBook__rowRaitingAndReview { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 15px; }

.downloadBook__wrapRaiting { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.downloadBook__wrapStars { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; margin-right: 10px; }

.downloadBook__star { font-size: 20px; margin-right: 2px; color: #DEDEDE; }

.downloadBook__star:last-child { margin-right: 0; }

.downloadBook__star.activeStar { color: #90CAF9; }

.downloadBook__allRaiting { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-right: 30px; }

.downloadBook__wrapYourReview { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: start; align-items: flex-start; }

.downloadBook__yourRaitingText { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-right: 10px; }

.downloadBook__btnReview { outline: none; background: none; border: none; text-decoration: none; font-size: 14px; line-height: 20px; color: #64B5F6; text-transform: uppercase; cursor: pointer; padding: 0; }

.downloadBook__rowDownload { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.downloadBook__downloadBtn { border: 2px solid #64B5F6; box-sizing: border-box; border-radius: 6px; font-size: 14px; line-height: 20px; color: #64B5F6; padding: 4px 15px; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; text-decoration: none; margin-right: 10px; cursor: pointer; }

.downloadBook__downloadBtn span { color: #C4C4C4; }

.contentHeader { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; margin-bottom: 45px; }

@media screen and (max-width: 1260px) { .contentHeader { -ms-flex-wrap: wrap; flex-wrap: wrap; } }

.contentHeader__wrap { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: calc((100%  - 470px) - 30px); }

@media screen and (max-width: 1260px) { .contentHeader__wrap { margin-bottom: 30px; max-width: 100%; } }

.titleContent { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: end; align-items: flex-end; }

.titleContent__titleText { margin-top: -8px; font-size: 36px; line-height: 43px; color: #1A1A1A; font-family: 'Rubik-Medium'; font-weight: 500; font-style: normal; width: 100%; margin-bottom: 15px; word-break: break-all; }

.titleContent__countBooks { color: #808080; font-size: 22px; line-height: normal; font-family: 'Rubik-Medium'; font-weight: 500; font-style: normal; margin-right: 25px; }

.filterContent__btn { background: none; border: none; font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; outline: none; cursor: pointer; padding: 0; margin-right: 10px; transition: 0.2s ease; }

.filterContent__btn:last-child { margin-right: 0; }

.filterContent__btn.active { color: #64B5F6; }

.tagsHeader { max-width: 470px; width: 100%; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; }

.tagsHeader__item { border: none; background: #DEDEDE; border-radius: 50px; cursor: pointer; font-size: 14px; line-height: 20px; color: #464646; transition: 0.2s ease; padding: 5px 15px; margin-bottom: 10px; margin-right: 10px; }

.tagsHeader__item:hover { background: #90CAF9; color: #fff; }

.tagsHeader__item.active { background: #90CAF9; color: #fff; }

.bookList { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; justify-content: space-between; }

.bookList__item { max-width: calc((100% / 3) - 30px); width: 100%; background: #FFFFFF; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; padding: 20px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; box-sizing: border-box; margin-bottom: 30px; }

@media screen and (max-width: 1460px) { .bookList__item { max-width: calc((100% / 2) - 30px); } }

@media screen and (max-width: 1200px) { .bookList__item { max-width: 100%; } }

@media screen and (max-width: 400px) { .bookList__item { -ms-flex-direction: column; flex-direction: column; } }

.bookList__leftSide { margin-right: 20px; }

@media screen and (max-width: 400px) { .bookList__leftSide { margin-bottom: 20px; margin-right: 0; } }

.bookList__wrapImg { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; max-width: 130px; max-height: 180px; width: 100%; height: 100%; margin-bottom: 10px; border-radius: 2px; overflow: hidden; }

.bookList__img { width: 100%; height: auto; }

.bookList__rowRaiting { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; }

@media screen and (max-width: 400px) { .bookList__rowRaiting { max-width: 130px; } }

.bookList__star { font-size: 20px; color: #DEDEDE; }

.bookList__star.activeStar { color: #90CAF9; }

.bookList__rightSide { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; max-width: calc((100% - 130px) - 30px); }

@media screen and (max-width: 400px) { .bookList__rightSide { max-width: 100%; } }

.bookList__title { font-size: 14px; line-height: 20px; color: #1A1A1A; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; line-height: 20px; text-decoration: none; display: block; }

.bookList__author { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-bottom: 10px; }

.bookList__category { font-size: 14px; line-height: 20px; color: #1A1A1A; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-bottom: 10px; }

.bookList__wrapTags { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.bookList__itemTags { background: #DEDEDE; border-radius: 8px; padding: 5px; color: #464646; font-size: 10px; line-height: 12px; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; margin-right: 10px; text-transform: uppercase; margin-bottom: 10px; }

.bookList__itemTags.activeTag { background: #8AD364; }

.bookList__rowBtn { display: -ms-flexbox; display: flex; margin-top: 35px; width: 100%; -ms-flex-align: end; align-items: flex-end; }

.bookList__aboutLink { color: #64B5F6; font-size: 14px; line-height: 20px; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; text-decoration: none; text-transform: uppercase; }

.bookList__btnRead { border: none; background: none; font-size: 24px; color: #C4C4C4; margin-left: auto; display: block; padding: 0; margin-right: 30px; outline: none; background: url("../i/icons/read.svg") no-repeat; background-size: cover; width: 20px; height: 28px; }

.bookList__btnRead.activeRead { color: #8AD364; background: url("../i/icons/read-g.svg") no-repeat; background-size: cover; }

.bookList__btnSelected { outline: none; border: none; background: none; font-size: 24px; color: #C4C4C4; display: block; background: url("../i/icons/selected.svg") no-repeat; background-size: cover; padding: 0; width: 20px; height: 28px; }

.bookList__btnSelected.activeSelected { color: #8AD364; background: url("../i/icons/selected-g.svg") no-repeat; background-size: cover; }

.userList { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.userList__item { padding: 20px; background: #fff; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; max-width: calc((100% / 4) - 25px); margin-bottom: 30px; width: 100%; box-sizing: border-box; margin-right: 30px; }

.userList__item:nth-of-type(4n + 4) { margin-right: 0; }

@media screen and (max-width: 1800px) { .userList__item { max-width: calc((100% / 3) - 30px); }
  .userList__item:nth-of-type(3n + 3) { margin-right: 0; }
  .userList__item:nth-of-type(4n + 4) { margin-right: 30px; } }

@media screen and (max-width: 1400px) { .userList__item { max-width: calc((100% / 2) - 30px); }
  .userList__item:nth-of-type(3n + 3) { margin-right: 30px; }
  .userList__item:nth-of-type(4n + 4) { margin-right: 0; }
  .userList__item:nth-of-type(2n + 2) { margin-right: 0; } }

@media screen and (max-width: 1060px) { .userList__item { max-width: 100%; margin-right: 0; }
  .userList__item:nth-of-type(3n + 3) { margin-right: 0; }
  .userList__item:nth-of-type(4n + 4) { margin-right: 0; }
  .userList__item:nth-of-type(2n + 2) { margin-right: 0; } }

.userList__wrapUserInfo { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-align: center; align-items: center; margin-bottom: 30px; }

.userList__wrapAvatar { border-radius: 50%; overflow: hidden; width: 70px; height: 70px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; margin-right: 20px; }

.userList__avatarImg { width: 100%; height: auto; }

.userList__wrapName span { display: block; width: 100%; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; font-size: 14px; line-height: 20px; color: #1A1A1A; }

.userList__wrapUserStatus { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.userList__wrapStatus { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.userList__statusName { font-size: 14px; line-height: 20px; color: #808080; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-bottom: 10px; display: block; }

.userList__statusCount { font-size: 14px; line-height: 20px; text-align: center; color: #1A1A1A; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; }

.userList__linkAbout { font-size: 14px; line-height: 20px; color: #64B5F6; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; text-transform: uppercase; text-decoration: none; cursor: pointer; }

.listBook { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; background: #fff; padding: 20px 30px; box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.06); border-radius: 8px; max-width: calc((100% / 3) - 30px); width: 100%; box-sizing: border-box; margin-right: 30px; position: relative; margin-bottom: 30px; min-height: 255px; }

@media screen and (max-width: 1400px) { .listBook { max-width: calc((100% / 2) - 30px); } }

@media screen and (max-width: 1200px) { .listBook { max-width: 100%; margin-right: 0; } }

.listBook__title { font-size: 22px; line-height: 32px; color: #1A1A1A; font-family: 'Rubik-Regular'; font-weight: 400; font-style: normal; margin-bottom: 20px; display: block; }

.listBook__list { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.listBook__link { text-decoration: none; cursor: pointer; background: #F5F5F5; border-radius: 8px; margin-bottom: 10px; padding: 10px; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; }

.listBook__wrapImg { width: 22px; min-width: 22px; height: 100%; margin-right: 15px; }

.listBook__imgBook { width: 100%; height: auto; }

.listBook__wrapText { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.listBook__titleBook { font-size: 14px; line-height: 20px; color: #1A1A1A; font-family: 'Roboto-Regular'; font-weight: 400; font-style: normal; margin-bottom: 1px; display: block; }

.listBook__authorBook { font-size: 10px; line-height: 12px; color: #808080; font-family: 'Roboto-Medium'; font-weight: 500; font-style: normal; }

.listBook__emptyTitle { font-size: 22px; line-height: 32px; color: #DEDEDE; font-family: 'Rubik-Regular'; font-weight: 400; font-style: normal; position: absolute; left: 50%; top: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.wrapUserBooksInfo { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wrapUserBooksInfo .listBook:nth-of-type(3n + 3) { margin-right: 0; }

@media screen and (max-width: 1400px) { .wrapUserBooksInfo .listBook:nth-of-type(3n + 3) { margin-right: 30px; }
  .wrapUserBooksInfo .listBook:nth-of-type(2n + 2) { margin-right: 0; } }

@media screen and (max-width: 1200px) { .wrapUserBooksInfo .listBook:nth-of-type(3n + 3) { margin-right: 0; }
  .wrapUserBooksInfo .listBook:nth-of-type(2n + 2) { margin-right: 0; } }

.main { display: inline-block; width: calc(100% - 270px); height: 100%; box-sizing: border-box; padding: 0 30px; }

@media screen and (max-width: 768px) { .main { width: 100%; } }

body { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; background: #f6f9fc; }
