header{
    text-align: center;
    background: #8d81ac;
    color: #fff;
    padding: 10px 0 10px 0;
}
@media (min-width: 768px) {
    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }

    .navbar-container .navbar {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }

    .navbar-container .navbar-collapse {
        align-items: flex-start;
    }

    .navbar-container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .navbar-container .navbar-nav {
        flex-direction: column !important;
    }
}
