.mp {
    .content {
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 32px;
        @media screen and (min-width:520px){
            font-size: 42px;
        }
        @media screen and (min-width:768px){
            font-size: 56px;
        }
    }
}
