.admin_header {

  height: 100px;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

li {

}

.admin_list {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */

}