html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.footer {
  height: 220px;
  margin-top: -190px;
  background-color: $footer-bg;
  width: 100%;
}

.new {
  background-color: $red;
  //background-image: url('../images/test.png');
}

.full-height {
  height: 110vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

li {
  list-style-type: none;
}

