
$white: #fff;

$green-light: #bde44d;
$green-salat: #83b22a;
$green-strong: #659445;

$red-light: #da567d;
$red-strong: rgb( 191, 45, 88 );

$grey-white: #f5f2ec;
$grey-light: #e9e4d9;
$grey-strong: #636b6f;
