// Body
$body-bg: #eeece9;
//#f8fafc;
$footer-bg: #f5f5f5;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grey_dark: #3c3c3b;
$grey_dark_hover: #5e5e5d;
$grey_light: #eeece9;
$grey_hover: #9b9b9b;
$grey: #6f6f6e;
$grey_border: #e0dfdd;

